/*Service Times*/

body {
  overflow: hidden;
}

.introModal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.schedule p {
  border-bottom: 1px solid;
}

.days {
  display: flex;
}

.day {
  width: 120px;
}

.times {
  display: flex;
  flex-direction: column;
}

.details {
  display: flex;
  flex-direction: row;
}

.details :first-Child{
  width: 9rem;
}

#sermonVid {
  /* width: 40rem; */
  width: 100%;
  /* height: 100%; */
  /* height: 30rem; */
}

/*Splash Page*/

.cross {
  position: relative;
  top: 70px;
}

@media screen and (max-width: 1680px) {
  .cross {
    top:38px;
  }

  .day {
    width: 100px;
  }
}

@media screen and (max-width: 736px) {
  .cross {
    top: 5px;
  }
}

/*Location map*/

.location {
  width: 40rem;
  max-width: 100%;
  height: 30rem;
}
